
services:

  mongodb:
    image: mongo:8.2.1-noble
    restart: on-failure
    ports:
      - "27017:27017"
    volumes:
      - mongo-volume:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoUser
      MONGO_INITDB_ROOT_PASSWORD: mongoPassword

volumes:
  mongo-volume:
    driver: local
